name: Dagster E2E

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  e2e-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Run docker compose
        uses: hoverkraft-tech/compose-action@3846bcd61da338e9eaaf83e7ed0234a12b099b72 # v2.4.1
        with:
          compose-file: "./docker-compose.yml"
          services: |
            docker_example_daemon
            docker_example_webserver
            docker_example_user_code
            docker_example_postgresql

      - name: Run test service
        run: |
           docker compose run --rm docker_test_service uv run pytest